
@import "template/bootstrap.min";
@import "template/style";
@import "template/style-responsive";
@import "template/vertical-rhythm.min";
@import "template/magnific-popup";
@import "template/owl.carousel";
@import "template/splitting";
@import "template/YTPlayer";
@import "template/demo-main/demo-main";
